Repository nanoexpress/ultimate-oss: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -c --config .prettierrc, eslint

chore(release): require Node.js >= 22
  package.json
Due: prettier -c --config .prettierrc

chore: npm publish access fix
  package.json
Due: prettier -c --config .prettierrc

docs(example): `swagger` example lockfile update
  examples/swagger/bun.lock
  examples/swagger/yarn.lock
Due: none

chore: ci update
  .github/workflows/lint_test_release.yml
Due: prettier -c --config .prettierrc

chore(ci): update `package.json` version to v3.0.0 [skip ci]
  package.json
Due: prettier -c --config .prettierrc

chore(ci): change package manager to bun
  .github/dependabot.yml
Due: prettier -c --config .prettierrc

fix(app): respond with partial options, trailing-slash and route matching
  src/nanoexpress.ts
  src/polyfills/http-request.ts
  src/polyfills/http-response.ts
  src/route-engine.ts
Due: none

ci: migrate runner labels to ubuntu-latest and macos-latest
  .github/workflows/automerge.yml
  .github/workflows/lgtm.yml
  .github/workflows/lint_test_release.yml
Due: prettier -c --config .prettierrc

build(deps): upgrade path-to-regexp to v8 and commitlint to v21
  bun.lock
  esm/nanoexpress.js
  esm/nanoexpress.js.map
  package.json
  src/route-engine.ts
  typings/nanoexpress.d.ts
  typings/nanoexpress.d.ts.map
  typings/polyfills/http-request.d.ts.map
  typings/polyfills/http-response.d.ts
  typings/polyfills/http-response.d.ts.map
  typings/route-engine.d.ts.map
Due: prettier -c --config .prettierrc, eslint

docs(example): migrate `swagger` example to Express 5
  examples/swagger/bun.lock
  examples/swagger/index.js
  examples/swagger/package.json
  examples/swagger/swagger.js
Due: prettier -c --config .prettierrc, eslint

ci: add semantic PR and typos checks
  .github/workflows/semantic.yml
  .github/workflows/typos.yml
  _typos.toml
Due: prettier -c --config .prettierrc

ci: add github-actions ecosystem to dependabot
  .github/dependabot.yml
Due: prettier -c --config .prettierrc

chore(ci): update `package.json` version to v4.0.0 [skip ci]
  package.json
Due: prettier -c --config .prettierrc

ci: add semantic PR and typos checks (#720)
  .github/workflows/semantic.yml
  .github/workflows/typos.yml
  _typos.toml
Due: prettier -c --config .prettierrc

fix: restore version as v4 was deprecated
  package.json
Due: prettier -c --config .prettierrc

chore: release v3.0.2
  package.json
Due: prettier -c --config .prettierrc

chore: restore release script [skip ci]
  package.json
Due: prettier -c --config .prettierrc

chore: release v3.0.3
  package.json
Due: prettier -c --config .prettierrc

ci: dependabot automerge via workflow_run
  .github/workflows/automerge.yml
Due: prettier -c --config .prettierrc

ci: dependabot automerge via workflow_run (#725)
  .github/workflows/automerge.yml
Due: prettier -c --config .prettierrc

Path conditions:
  prettier -c --config .prettierrc: (any of: *.{json,scss,css,md,yml}) or (any of: *.js)
  eslint: any of: *.js
