Repository nanoexpress/ultimate-oss: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -c --config .prettierrc, eslint

.lintstagedrc:

{
  "*.{json,scss,css,md,yml}": ["prettier -c --config .prettierrc"],
  "*.js": ["eslint", "prettier -c --config .prettierrc"]
}

Notes added by 'git notes add'
  2398413d22821e5165187f57089ea0f064302c9a
Due: none

docs(readme): improve documentations
  docs/DOCS.md
Due: prettier -c --config .prettierrc

fix(HttpResponse): fix `cork` mode duplicate responding
  src/polyfills/http-response.ts
Due: none

chore(release): 1.2.4 [skip ci]
  cjs/nanoexpress.cjs
  cjs/nanoexpress.cjs.map
  esm/nanoexpress.js
  esm/nanoexpress.js.map
  package.json
  typings/polyfills/http-response.d.ts.map
Due: prettier -c --config .prettierrc, eslint

Notes added by 'git notes add'
  2932fad284a2cc5511ca6623f59a8be304d23abb
Due: none

fix(license): add GPL-3.0 license
  LICENSE
  README.md
Due: prettier -c --config .prettierrc

chore(release): 1.2.5 [skip ci]
  package.json
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  d58916256342938822c7e409ac3756b7182fc18c
Due: none

fix(docs): update price
  docs/DOCS.md
Due: prettier -c --config .prettierrc

chore(release): 1.2.6 [skip ci]
  package.json
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  96db2dce0b709c094052caebe14c5b311a4e00fd
Due: none

docs(readme): update contact link
  README.md
Due: prettier -c --config .prettierrc

fix(docs): typo fixes
  docs/DOCS.md
Due: prettier -c --config .prettierrc

chore(deps): upgrade uWebSockets.js to actual version
  package.json
  yarn.lock
Due: prettier -c --config .prettierrc

chore(release): 1.2.7 [skip ci]
  package.json
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  09cf190c8671642f3f7e69fd50b47130700e0de9
Due: none

fix(docs): add "installation" section and fix parts where import was wrong
  docs/DOCS.md
Due: prettier -c --config .prettierrc

chore(release): 1.2.8 [skip ci]
  package.json
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  ddac509f7b1adbc1405039b0a2190dfb5dc97d2c
Due: none

docs: typo fixes
  docs/DOCS.md
Due: prettier -c --config .prettierrc

fix: fix `fast-query-parse` importings error
  package.json
  yarn.lock
Due: prettier -c --config .prettierrc

chore(release): 1.2.9 [skip ci]
  package.json
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  96b58f5462bac1af72b3061e83c35fbb0b47c431
Due: none

fix(security): remove `coveralls`
  package.json
  yarn.lock
Due: prettier -c --config .prettierrc

chore(release): 1.2.10 [skip ci]
  package.json
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  0d34faab4294ca823c4f1118e238cdc5e43543ce
Due: none

docs(example): update swagger-ui dependencies
  examples/swagger/package.json
  examples/swagger/yarn.lock
Due: prettier -c --config .prettierrc

fix(@nanoexpress/ultimate): update `markdown-it` for security reason
  package.json
Due: prettier -c --config .prettierrc

fix(smartlint): update `smartlint` for security reason
  package.json
  yarn.lock
Due: prettier -c --config .prettierrc

chore(release): 1.2.11 [skip ci]
  package.json
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  a655fe3e6cbf300983eea91ac39a3310ce5e772a
Due: none

fix(nanoexpress): new initialize crash fixed
  .eslintrc
  .node-version
  .vscode/settings.json
  .vscode/tasks.json
  examples/html.js
  examples/sse.mjs
  nodemon.json
  src/app.ts
  src/nanoexpress.ts
  src/polyfills/http-response.ts
  yarn.lock
Due: prettier -c --config .prettierrc, eslint

chore: update dists and typings
  cjs/nanoexpress.cjs
  cjs/nanoexpress.cjs.map
  esm/nanoexpress.js
  esm/nanoexpress.js.map
  src/helpers/index.ts
  src/helpers/noop.ts
  typings/app.d.ts
  typings/app.d.ts.map
  typings/helpers/index.d.ts
  typings/helpers/index.d.ts.map
  typings/nanoexpress.d.ts.map
  typings/polyfills/http-response.d.ts
  typings/polyfills/http-response.d.ts.map
Due: prettier -c --config .prettierrc, eslint

fix(hooks): `useRef` improvement
  src/hooks/index.ts
Due: none

chore(release): 1.2.12 [skip ci]
  cjs/nanoexpress.cjs
  cjs/nanoexpress.cjs.map
  esm/nanoexpress.js
  esm/nanoexpress.js.map
  package.json
  typings/helpers/noop.d.ts
  typings/helpers/noop.d.ts.map
  typings/hooks/index.d.ts
  typings/hooks/index.d.ts.map
Due: prettier -c --config .prettierrc, eslint

Notes added by 'git notes add'
  deab88d5b9bb096d75214f1ebe7722eb5d43c153
Due: none

chore(release): 1.3.0 [skip ci]
  package.json
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  909b7cafb1f952357d62e834721b62441a1e7645
Due: none
