Repository nanoexpress/ultimate-oss: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -c --config .prettierrc, eslint

.lintstagedrc:

{
  "*.{json,scss,css,md,yml}": ["prettier -c --config .prettierrc"],
  "*.js": ["eslint", "prettier -c --config .prettierrc"]
}

chore: add `@semantic-release/github` to releases
  .releaserc.json
Due: prettier -c --config .prettierrc

chore(release): 1.0.4 [skip ci]
  package.json
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  fa451737fd664f2700318277d632b8de93676657
Due: none

chore(semantic-release): fix release
  .releaserc.json
Due: prettier -c --config .prettierrc

fix: update `node` requirements as build process improved
  package.json
Due: prettier -c --config .prettierrc

chore(release): 1.0.5 [skip ci]
  cjs/nanoexpress.cjs
  cjs/nanoexpress.cjs.map
  esm/nanoexpress.js.map
  package.json
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  88d228af7c5e63cddf488a1e726dff1afeaf2431
Due: none

chore: update **semantic-release** config
  .releaserc.json
Due: prettier -c --config .prettierrc

chore(release): 1.0.6 [skip ci]
  package.json
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  474c5d1c6c9ee88e870949ec84f0c441796e3691
Due: none

fix(ci): update **semantic-release**
  .releaserc.json
Due: prettier -c --config .prettierrc

chore(release): 1.0.7 [skip ci]
  package.json
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  852df40d9754ed5e9458084cbd76d979b73ca003
Due: none

fix(chore): match release with commit
  .releaserc.json
Due: prettier -c --config .prettierrc

chore(release): 1.0.8 [skip ci]
  package.json
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  60fa43fc735a4f9d28f8c91487771a305d5f70f8
Due: none

feat: add new **Hooks** feature to use optimized caching and handling
  cjs/nanoexpress.cjs
  cjs/nanoexpress.cjs.map
  esm/nanoexpress.js
  esm/nanoexpress.js.map
  examples/hooks.js
  src/app.ts
  src/hooks/index.ts
  src/hooks/manager.ts
  src/nanoexpress.ts
  src/polyfills/http-request.ts
  src/polyfills/http-response.ts
  typings/app.d.ts.map
  typings/nanoexpress.d.ts
  typings/nanoexpress.d.ts.map
  typings/polyfills/http-request.d.ts
  typings/polyfills/http-request.d.ts.map
  typings/polyfills/http-response.d.ts
  typings/polyfills/http-response.d.ts.map
Due: prettier -c --config .prettierrc, eslint

chore(release): 1.1.0 [skip ci]
  package.json
  typings/hooks/index.d.ts
  typings/hooks/index.d.ts.map
  typings/hooks/manager.d.ts
  typings/hooks/manager.d.ts.map
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  425b18e7a022266511fa2adf5ea49c894f85d035
Due: none

fix: upgrade dependencies and security fixes
  package.json
  src/nanoexpress.ts
  src/polyfills/http-response.ts
  types/nanoexpress.d.ts
  yarn.lock
Due: prettier -c --config .prettierrc

chore(release): 1.1.1 [skip ci]
  cjs/nanoexpress.cjs
  cjs/nanoexpress.cjs.map
  esm/nanoexpress.js
  esm/nanoexpress.js.map
  package.json
  typings/nanoexpress.d.ts.map
  typings/polyfills/http-response.d.ts
  typings/polyfills/http-response.d.ts.map
Due: prettier -c --config .prettierrc, eslint

Notes added by 'git notes add'
  c5606272b571e4d4ac7456995b2bfb1e111e8b9c
Due: none

docs(examples): remove misused example
  examples/large-json.mjs
Due: none

chore(release): 1.2.0 [skip ci]
  package.json
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  faff349942d71c56d5ad7a3dcc99299be280b116
Due: none

docs: added new docs, updated license and more
  LICENSE
  README.md
  docs/BENCHMARK.md
  docs/DOCS.md
  docs/MIDDLEWARES.md
  package.json
  src/app.ts
  src/nanoexpress.ts
  types/nanoexpress.d.ts
Due: prettier -c --config .prettierrc

chore(release): 1.2.1 [skip ci]
  cjs/nanoexpress.cjs
  cjs/nanoexpress.cjs.map
  esm/nanoexpress.js
  esm/nanoexpress.js.map
  package.json
Due: prettier -c --config .prettierrc, eslint

Notes added by 'git notes add'
  a996318ba456d666131c79a433b3c3b2b0c9cc0d
Due: none

docs: update
  docs/DOCS.md
Due: prettier -c --config .prettierrc

docs(readme): add docker link
  README.md
Due: prettier -c --config .prettierrc

docs(readme): update and add contents
  docs/DOCS.md
Due: prettier -c --config .prettierrc

docs(README): docs fixes and updates
  README.md
  docs/DOCS.md
Due: prettier -c --config .prettierrc

chore(release): 1.2.2 [skip ci]
  package.json
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  622d55f6cff6d10aa73db999994e138102d1bf3f
Due: none

docs(README): update **Benchmark** link
  docs/DOCS.md
Due: prettier -c --config .prettierrc

chore(release): 1.2.3 [skip ci]
  package.json
Due: prettier -c --config .prettierrc
