Repository nanoexpress/ultimate-oss: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -c --config .prettierrc, eslint

.lintstagedrc:

{
  "*.{json,scss,css,md,yml}": ["prettier -c --config .prettierrc"],
  "*.js": ["eslint", "prettier -c --config .prettierrc"]
}

fix: minor code improvements
  src/polyfills/http-response.ts
  src/route-engine.ts
Due: none

fix: adding route analyzer for future performance improvements reason
  .github/workflows/automerge.yml
  .github/workflows/lint_test_release.yml
  examples/router.mjs
  package.json
  src/polyfills/http-response.ts
  src/route-engine.ts
  types/find-route.d.ts
  yarn.lock
Due: prettier -c --config .prettierrc

fix: currently stop linting, add `query` parse, improve `headers`
  package.json
  src/app.ts
  src/polyfills/http-response.ts
  src/route-engine.ts
  types/nanoexpress.d.ts
  yarn.lock
Due: prettier -c --config .prettierrc

fix: improvements
  examples/router.mjs
  package.json
  src/app.ts
  src/helpers/index.ts
  src/helpers/iterate-blocks.ts
  src/route-engine.ts
  types/nanoexpress.d.ts
  yarn.lock
Due: prettier -c --config .prettierrc

fix: improve codebase and try-to-save `req.stream` using readable
  .node-version
  .vscode/settings.json
  examples/body-parser.mjs
  nodemon.json
  package.json
  rollup.config.js
  src/app.ts
  src/polyfills/http-response.ts
  src/route-engine.ts
  tsconfig.json
  types/nanoexpress.d.ts
  yarn.lock
Due: prettier -c --config .prettierrc, eslint

feat: add buffer feature
  examples/body-parser.mjs
  examples/swagger/index.js
  src/app.ts
  src/polyfills/http-response.ts
  src/route-engine.ts
  types/nanoexpress.d.ts
Due: prettier -c --config .prettierrc, eslint

feat: add proper error handling, types and more
  examples/body-parser.mjs
  examples/body-parser.ts
  nodemon.json
  src/app.ts
  src/polyfills/http-request.ts
  src/router.ts
Due: prettier -c --config .prettierrc

fix: improve entire typing system
  examples/body-parser.ts
  src/app.ts
  src/polyfills/http-request.ts
  src/router.ts
  types/find-route.d.ts
Due: none

fix: initial release
  .releaserc.json
  README.md
  package.json
  yarn.lock
Due: prettier -c --config .prettierrc

fix: remove old unusable test code
  .github/workflows/lint_test_release.yml
  package.json
  tests/Route/create.js
  tests/Route/define.js
  tests/Route/index.js
  tests/http/index.js
  tests/http/response/index.js
  tests/http/response/redirect.js
  tests/http/response/status.js
  tests/http/response/write-head.js
  tests/index.js
  tests/mock/http-response.js
Due: prettier -c --config .prettierrc, eslint

fix: remove `git` config from `semantic-release`
  .releaserc.json
Due: prettier -c --config .prettierrc

fix: experimenting with semantic-release config
  .releaserc.json
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  5019f7e3e7d39bfd8b0d6e348ce29a4083b72fd8
Due: none

Notes added by 'git notes add'
  3a25c4888dc3f9f3861346dea6debdedaa8f5f6a
Due: none

fix: fix release-notes generator
  .releaserc.json
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  9342cffef1c2f11ac8f4414fa9ef42c8aeb39907
Due: none

Notes added by 'git notes add'
  3b42bae56cc8fd852f4878dd090d832b06a8be83
Due: none

chore: update release config
  .releaserc.json
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  3ee2648f8bdf664652a050d8d5fdfdf18afa75df
Due: none

chore: update **semantic-release** config
  .releaserc.json
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  9dba65660e7e37445bb0741fe9bcc9aec6a0d588
Due: none

Notes added by 'git notes add'
  1e69819ef128564d4b77e5adf84614ae78dc449f
Due: none

Notes added by 'git notes add'
  8bfc8f5b9add2d93894113d332548e7b77b33850
Due: none

Notes added by 'git notes add'
  48554d7abba9d373a2bccd32003d07bb2bb7a530
Due: none

chore(typescript): update target to `es2020`
  tsconfig.json
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  9ff38cfcad4bec2b9ee4be0e4e93b61f77f8ee31
Due: none

fix: this should fix `repo` installation mode
  package.json
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  f10b826eaf975b64e0b452e076764affdff0b2ca
Due: none

fix: set max/min of node.js ver
  .node-version
  package.json
Due: prettier -c --config .prettierrc

chore(semantic-release): update config to get more properly release
  .releaserc.json
  yarn.lock
Due: prettier -c --config .prettierrc

chore: add `@semantic-release/git` to dev-deps
  package.json
  yarn.lock
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  3e23e0a7156e0038a35848c9005ac0a5ea9aea85
Due: none
