Repository nanoexpress/ultimate-oss: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -c --config .prettierrc, eslint

.lintstagedrc:

{
  "*.{json,scss,css,md,yml}": ["prettier -c --config .prettierrc"],
  "*.js": ["eslint", "prettier -c --config .prettierrc"]
}

fix: revert release token to **github-actions** due of GH Actions bug
  .github/workflows/lint_test_release.yml
Due: prettier -c --config .prettierrc

fix: security and naming fix
  examples/extend.js
  package.json
  src/nanoexpress.js
  src/route.js
  tests/Route/create.js
  tests/Route/define.js
  yarn.lock
Due: prettier -c --config .prettierrc, eslint

fix: remove funding, security patch
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/config.yml
  examples/ws.js
  src/expose/app/apply-listen.js
Due: prettier -c --config .prettierrc, eslint

chore: fix build script
  rollup.config.js
Due: prettier -c --config .prettierrc, eslint

chore: upgrade dependencies
  package.json
  yarn.lock
Due: prettier -c --config .prettierrc

fix: create proof-of-concept for remaked pro-slim
  .github/workflows/lint_test_release.yml
  .releaserc.json
  examples/pool-class.js
  examples/pool-class.ts
  src/constants.ts
  src/polyfills/http-response/header-chunks/apply-headers.js
  src/polyfills/http-response/header-chunks/get-header.js
  src/polyfills/http-response/header-chunks/has-header.js
  src/polyfills/http-response/header-chunks/index.js
  src/polyfills/http-response/header-chunks/remove-header.js
  src/polyfills/http-response/header-chunks/set-header.js
  src/polyfills/http-response/header-chunks/set-headers.js
  src/polyfills/http-response/header-chunks/write-header-values.js
  src/polyfills/http-response/header-chunks/write-headers.js
  src/polyfills/http-response/http-response-methods.ts
  src/polyfills/http-response/http-response.js
  src/polyfills/http-response/http-response.ts
  src/polyfills/http-response/index.js
  src/polyfills/http-response/index.ts
  src/polyfills/http-response/stream/index.ts
  tests/mock/http-response.js
  tsconfig.json
Due: prettier -c --config .prettierrc, eslint

fix: improve typescript refactoring
  cjs/package.json
  examples/common.cjs
  examples/pool-class.js
  package.json
  rollup.config.js
  src/app.ts
  src/find-route.ts
  src/polyfills/http-response/http-response-methods.ts
  src/polyfills/http-response/polyfill-chunks/index.js
  src/polyfills/http-response/polyfill-chunks/redirect.js
  src/polyfills/http-response/stream/compress-stream.js
  src/polyfills/http-response/stream/index.js
  src/polyfills/http-response/stream/send-file.js
  tsconfig.json
  typings/nanoexpress.d.ts
  yarn.lock
Due: prettier -c --config .prettierrc, eslint

fix: improve typescript refactoring
  .eslintignore
  .gitignore
  esm/package.json
  package.json
  rollup.config.js
  src/app.ts
  src/find-route.ts
  src/helpers/http-methods.ts
  src/nanoexpress.ts
  src/route.ts
  src/typings/fast-decode-uri-component.d.ts
  src/typings/find-route.d.ts
  src/typings/nanoexpress.d.ts
  tsconfig.json
  yarn.lock
Due: prettier -c --config .prettierrc, eslint

fix: improve typescript refactoring
  .gitignore
  src/app.ts
  src/find-route.ts
  src/helpers/http-methods.ts
  src/nanoexpress.ts
  src/route.ts
  src/types/fast-decode-uri-component.d.ts
  src/types/find-route.d.ts
  src/types/nanoexpress.d.ts
  tsconfig.json
Due: prettier -c --config .prettierrc

fix: improve typescript refactoring
  examples/common.cjs
  rollup.config.js
  src/expose/route.js
  src/expose/route/http-expose.js
  src/expose/route/publish-expose.js
  src/expose/route/wraps.js
  src/expose/route/ws-expose.js
  src/expose/ws.js
  src/exposes/index.ts
  src/exposes/websocket.ts
  src/types/nanoexpress.d.ts
  tsconfig.json
Due: prettier -c --config .prettierrc, eslint

fix: improve typescript refactoring
  src/app.ts
  src/polyfills/http-response/http-response.ts
  src/polyfills/http-response/index.ts
  src/route.ts
  src/types/nanoexpress.d.ts
Due: none

feat: remade from scratch route logic
  .eslintrc
  examples/common.cjs
  examples/common.js
  examples/router.js
  package.json
  rollup.config.js
  src/app.ts
  src/find-route.ts
  src/nanoexpress.ts
  src/route.ts
  src/types/find-route.d.ts
  src/types/nanoexpress.d.ts
  tsconfig.json
Due: prettier -c --config .prettierrc, eslint

feat: finalize `HttpResponse` class and lets dance
  .eslintignore
  .gitignore
  .prettierignore
  examples/pool-class.js
  examples/router.js
  package.json
  src/app.ts
  src/constants.ts
  src/find-route.ts
  src/helpers/gc.ts
  src/helpers/http-codes.ts
  src/helpers/index.ts
  src/polyfills/http-response.ts
  src/polyfills/http-response/http-response.ts
  src/polyfills/http-response/index.ts
  src/polyfills/http-response/polyfill-chunks/index.js
  src/polyfills/http-response/polyfill-chunks/redirect.js
  src/polyfills/http-response/polyfill-chunks/status.js
  src/polyfills/http-response/polyfill-chunks/write-head.js
  src/polyfills/http-response/response-chunks/index.js
  src/polyfills/http-response/response-chunks/pipe.js
  src/polyfills/http-response/response-chunks/send.js
  src/polyfills/http-response/response-chunks/type.js
  src/polyfills/http-response/stream/compress-stream.js
  src/polyfills/http-response/stream/index.js
  src/polyfills/http-response/stream/send-file.js
  src/polyfills/index.ts
  src/route.ts
  src/types/find-route.d.ts
  src/types/nanoexpress.d.ts
  yarn.lock
Due: prettier -c --config .prettierrc, eslint

fix: finally currently maskout some property
  src/app.ts
  src/constants.ts
  src/polyfills/http-response.ts
  src/types/nanoexpress.d.ts
Due: none

fix: temporarily remove headers and add benchmark
  benchmark/index.js
  benchmark/servers/nanoexpress.js
  benchmark/servers/uws.js
  src/app.ts
Due: prettier -c --config .prettierrc, eslint

fix: performance iimprovements and remove `legacy` run method
  src/app.ts
Due: none

fix: make demo benchmark more really
  benchmark/servers/uws.js
Due: prettier -c --config .prettierrc, eslint

fix: code typo fixes, minor perf improvements and more
  src/app.ts
  src/find-route.ts
  src/polyfills/http-response.ts
  src/types/find-route.d.ts
Due: none

chore: upgrde deps and remove unworking example
  examples/extend.js
  package.json
  yarn.lock
Due: prettier -c --config .prettierrc, eslint

fix: all linting error fixes
  .eslintignore
  src/nanoexpress.ts
  src/polyfills/index.ts
  tests/Route/create.js
  tests/Route/define.js
  tsconfig.json
  utils/legacy.ts
Due: prettier -c --config .prettierrc, eslint

chore: prettier fix
  .prettierignore
  examples/pool-class.js
Due: prettier -c --config .prettierrc, eslint

fix: improve register events, pipes, fixes and patches
  src/constants.ts
  src/polyfills/http-response.ts
Due: none

fix: improve register events, pipes, fixes and patches
  examples/stream-pipe.js
  src/app.ts
  src/find-route.ts
  src/helpers/http-methods.ts
  src/nanoexpress.ts
  src/polyfills/http-response.ts
  src/route.ts
  tsconfig.json
  types/fast-decode-uri-component.d.ts
  types/find-route.d.ts
  types/nanoexpress.d.ts
Due: prettier -c --config .prettierrc, eslint

fix: fix streaming bug
  src/app.ts
  src/polyfills/http-response.ts
Due: none

fix: make multi-level routing work
  .eslintrc
  cjs/package.json
  examples/router-level.js
  examples/stream-pipe.mjs
  nodemon.json
  package.json
  src/app.ts
  src/constants.ts
  src/find-route.ts
  src/nanoexpress.ts
  src/polyfills/http-response.ts
  src/router.ts
Due: prettier -c --config .prettierrc, eslint

fix: add polyfill methods and use `cjs` by default
  package.json
  src/app.ts
Due: prettier -c --config .prettierrc

fix: adding utils and `legacy` express middleware support for testing purpose
  src/utils/legacy.ts
  tsconfig.json
  utils/legacy.ts
Due: prettier -c --config .prettierrc

feat: maximize compatibility for express
  src/find-route.ts
  src/router.ts
Due: none

feat: maximize compatibility and able to run middleware route callback at least
  examples/router.mjs
  src/app.ts
  src/find-route.ts
  src/utils/legacy.ts
Due: none

fix: update to codebase to be working more part of functionality
  examples/swagger/index.js
  examples/swagger/package.json
  examples/swagger/swagger.js
  examples/swagger/swagger.json
  examples/swagger/yarn.lock
  nodemon.json
  package.json
  src/app.ts
  src/find-route.ts
  src/helpers/index.ts
  src/helpers/loggy.ts
  src/nanoexpress.ts
  src/polyfills/http-response.ts
  src/router.ts
  src/utils/legacy.ts
  types/nanoexpress.d.ts
  yarn.lock
Due: prettier -c --config .prettierrc, eslint

fix: finally successfully mimick response
  examples/swagger/index.js
  package.json
  src/app.ts
  src/find-route.ts
  src/helpers/http-methods.ts
  src/polyfills/http-response.ts
  src/router.ts
  src/utils/legacy.ts
  types/find-route.d.ts
  types/nanoexpress.d.ts
  yarn.lock
Due: prettier -c --config .prettierrc, eslint

fix: making code simpler and effecient,
  types/find-route.d.ts
Due: none

fix: finally fix sub-routes order
  src/app.ts
  src/polyfills/http-response.ts
  src/route-engine.ts
  src/router.ts
  types/find-route.d.ts
Due: none

fix: fixes related to re-use instance and performance drop fix
  examples/swagger/index.js
  src/app.ts
  src/polyfills/http-response.ts
Due: prettier -c --config .prettierrc, eslint

fix: improvements and fixes
  examples/swagger/index.js
  src/app.ts
  src/helpers/index.ts
  src/helpers/slashify.ts
  src/polyfills/http-response.ts
  src/router.ts
Due: prettier -c --config .prettierrc, eslint

fix: fix the router strip-mode for express-js middleware compatibility
  examples/router.mjs
  examples/swagger/index.js
  nodemon.json
  src/app.ts
  src/route-engine.ts
  src/router.ts
Due: prettier -c --config .prettierrc, eslint

feat: add express middleware layer compatibility
  examples/router.mjs
  nodemon.json
  src/app.ts
  src/nanoexpress.ts
  src/route-engine.ts
  types/find-route.d.ts
  types/nanoexpress.d.ts
Due: prettier -c --config .prettierrc

fix: docs fixes and improvements
  examples/router.mjs
  src/nanoexpress.ts
  src/polyfills/http-response.ts
Due: none

chore: disable rules temporarily
  .eslintrc
  .markdownlint-cli2.jsonc
  .markdownlint.json
  package.json
  src/app.ts
  src/exposes/index.ts
  src/exposes/websocket.ts
  src/helpers/mime.ts
  src/polyfills/http-response.ts
  src/polyfills/index.ts
  src/route-engine.ts
  src/router.ts
  yarn.lock
Due: prettier -c --config .prettierrc
