Repository nanoexpress/ultimate-oss: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -c --config .prettierrc, eslint

fix(router): enable `.use` route expose and remove no routes warning
  package-lock.json
  package.json
  src/Route.js
  src/expose/App/prepare-listen.js
Due: prettier -c --config .prettierrc, eslint

fix(router): improve `.use` ability
  package-lock.json
  package.json
  src/Route.js
Due: prettier -c --config .prettierrc, eslint

fix(router): fix `Route` wrap
  src/Route.js
Due: prettier -c --config .prettierrc, eslint

fix(async): async object response auto-header
  src/Route.js
Due: prettier -c --config .prettierrc, eslint

fix(async): HttpResponse.send object response auto-header
  src/polyfills/http-response/response-chunks/send.js
Due: prettier -c --config .prettierrc, eslint

chore(deps): upgrade deps to latest
  package-lock.json
  package.json
Due: prettier -c --config .prettierrc

chore(deps): upgrade uWebSockets.js to latest
  package-lock.json
  package.json
Due: prettier -c --config .prettierrc

docs(readme): update
  README.md
Due: prettier -c --config .prettierrc

fix: remove funding
  .github/FUNDING.yml
Due: prettier -c --config .prettierrc

chore(repos): update deps
  package-lock.json
Due: prettier -c --config .prettierrc

add: funding file
  .github/FUNDING.yml
Due: prettier -c --config .prettierrc

update: funding file
  .github/FUNDING.yml
Due: prettier -c --config .prettierrc

chore(deps): upgrade uWebSockets.js to latest
  package-lock.json
Due: prettier -c --config .prettierrc

pkg: update funding
  package.json
Due: prettier -c --config .prettierrc

github: add funding ways
  .github/FUNDING.yml
Due: prettier -c --config .prettierrc

github: fix funding ways
  .github/FUNDING.yml
Due: prettier -c --config .prettierrc

feat: now nanoexpress has Apple Silicon support, improved performance and better security
  .github/FUNDING.yml
  package-lock.json
  package.json
Due: prettier -c --config .prettierrc

fix(release): add semantic-release to pass ci
  .releaserc.json
Due: prettier -c --config .prettierrc

fix: add ci (gh-actions) for managing releases
  .github/dependabot.yml
  .github/workflows/automerge.yml
  .github/workflows/lint_test_release.yml
  .travis.yml
Due: prettier -c --config .prettierrc

fix: package version and ci config fixes
  .github/workflows/lint_test_release.yml
  package.json
Due: prettier -c --config .prettierrc

fix(deps): update dependencies
  package.json
  yarn.lock
Due: prettier -c --config .prettierrc

chore: eslint config update
  .eslintrc
Due: none

chore(ci): github action improvements
  .github/workflows/lint_test_release.yml
Due: prettier -c --config .prettierrc

fix: linting fix and upgrade security issues
  .eslintrc
  .ls-lint.yml
  examples/extend.js
  examples/separate-server.js
  nanoexpress.d.ts
  package.json
  src/App.js
  src/Route.js
  src/expose/App.js
  src/expose/App/apply-listen.js
  src/expose/Route.js
  src/expose/Route/http-expose.js
  src/expose/Route/ws-expose.js
  src/expose/ws.js
  src/helpers/mime.js
  src/nanoexpress.js
  src/polyfills/http-response/http-response.js
  src/polyfills/http-response/index.js
  src/polyfills/http-response/polyfill-chunks/redirect.js
  src/polyfills/http-response/response-chunks/pipe.js
  src/polyfills/http-response/stream/send-file.js
  tests/Route/define.js
  tests/http/response/redirect.js
  tests/http/response/write-head.js
  tests/mock/http-response.js
  yarn.lock
Due: prettier -c --config .prettierrc, eslint

fix: chore build fix
  rollup.config.js
Due: prettier -c --config .prettierrc, eslint

fix: naming update
  src/app.js
  src/expose/app.js
  src/expose/app/apply-listen.js
  src/expose/app/close-listen.js
  src/expose/app/http-expose.js
  src/expose/app/prepare-listen.js
  src/expose/app/publish-expose.js
  src/expose/app/ws-expose.js
  src/expose/route.js
  src/expose/route/http-expose.js
  src/expose/route/publish-expose.js
  src/expose/route/wraps.js
  src/expose/route/ws-expose.js
Due: prettier -c --config .prettierrc, eslint

fix: upgrade dependencies
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package.json
  yarn.lock
Due: prettier -c --config .prettierrc

fix: lint error fixing
  husky.config.cjs
  nanoexpress.d.ts
Due: none

fix: chore ci fix
  .github/FUNDING.yml
  .github/dependabot.yml
  .github/workflows/automerge.yml
Due: prettier -c --config .prettierrc

fix: case-sensitive file cache re-loading for git
  cjs/package.json
  src/App.js
  src/expose/App.js
  src/expose/App/apply-listen.js
  src/expose/App/close-listen.js
  src/expose/App/http-expose.js
  src/expose/App/prepare-listen.js
  src/expose/App/publish-expose.js
  src/expose/App/ws-expose.js
  src/expose/Route.js
  src/expose/Route/http-expose.js
  src/expose/Route/publish-expose.js
  src/expose/Route/wraps.js
  src/expose/Route/ws-expose.js
Due: prettier -c --config .prettierrc, eslint

chore: boost ci by using only node v14.x
  .github/workflows/lint_test_release.yml
Due: prettier -c --config .prettierrc

fix: cjs exports fix
  cjs/package.json
Due: prettier -c --config .prettierrc

fix: gitignore fix
  .gitignore
Due: none

chore: ci fixes
  .github/workflows/automerge.yml
Due: prettier -c --config .prettierrc

fix: release token change
  .github/workflows/lint_test_release.yml
Due: prettier -c --config .prettierrc

fix: this should fix ci empty token error
  .github/workflows/automerge.yml
Due: prettier -c --config .prettierrc

Path conditions:
  prettier -c --config .prettierrc: (any of: *.{json,scss,css,md,yml}) or (any of: *.js)
  eslint: any of: *.js
