Repository nanoexpress/ultimate-oss: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -c --config .prettierrc, eslint

.lintstagedrc:

{
  "*.{json,scss,css,md,yml}": ["prettier -c --config .prettierrc"],
  "*.js": ["eslint", "prettier -c --config .prettierrc"]
}

style: keep unused vars/params as warnings; revert cosmetic renames
  benchmark/servers/nanoexpress.js
  biome.json
  esm/nanoexpress.js
  esm/nanoexpress.js.map
  examples/body-parser.mjs
  examples/router-level.js
  examples/router.mjs
  examples/sse.mjs
  examples/stream-pipe.mjs
  examples/swagger/index.js
  examples/ws.js
  src/helpers/gc.ts
  src/router.ts
  typings/router.d.ts.map
Due: prettier -c --config .prettierrc, eslint

fix(response): negotiate compression on accept-encoding; fix deflate branch
  src/polyfills/http-response.ts
Due: none

perf(route-engine): execute route regex once per candidate
  src/route-engine.ts
Due: none

fix(app): return a generic error message in production
  src/app.ts
Due: none

ci: migrate lint/test/release workflow to bun
  .github/workflows/lint_test_release.yml
Due: prettier -c --config .prettierrc

build: rebuild esm and typings artifacts
  esm/nanoexpress.js
  esm/nanoexpress.js.map
  typings/app.d.ts.map
  typings/polyfills/http-response.d.ts.map
  typings/route-engine.d.ts.map
Due: prettier -c --config .prettierrc, eslint

ci: pin node 26 and ubuntu-24.04 for tests
  .github/workflows/lint_test_release.yml
Due: prettier -c --config .prettierrc

ci: upgrade actions to latest majors; cache bun install cache
  .github/workflows/automerge.yml
  .github/workflows/lint_test_release.yml
Due: prettier -c --config .prettierrc

perf(install): fetch uWebSockets.js as a tarball URL
  bun.lock
  package.json
Due: prettier -c --config .prettierrc

chore: remove unused typedoc devDependency
  bun.lock
  package.json
Due: prettier -c --config .prettierrc

chore: keep ls-lint for filename conventions
  .ls-lint.yml
  bun.lock
  package.json
Due: prettier -c --config .prettierrc

chore: add oxlint as the eslint-slot linter
  .oxlintrc.json
  bun.lock
  package.json
Due: prettier -c --config .prettierrc

build: replace semantic-release with dalisoft/release-me
  .github/workflows/lint_test_release.yml
  bun.lock
  package.json
Due: prettier -c --config .prettierrc

perf(app): push request-body chunks as zero-copy views
  esm/nanoexpress.js
  esm/nanoexpress.js.map
  src/app.ts
Due: prettier -c --config .prettierrc, eslint

build: update typings source map from rebuild
  typings/app.d.ts.map
Due: none

fix(app): copy uWS request-body chunks instead of zero-copy views
  esm/nanoexpress.js
  esm/nanoexpress.js.map
  src/app.ts
Due: prettier -c --config .prettierrc, eslint

ci: least-privilege permissions, pull_request only, SHA-pinned actions
  .github/workflows/automerge.yml
  .github/workflows/lint_test_release.yml
Due: prettier -c --config .prettierrc

build: refresh typings source map
  typings/app.d.ts.map
Due: none

ci: use version-fixed action tags
  .github/workflows/lint_test_release.yml
Due: prettier -c --config .prettierrc

ci: add LGTM auto-approve for maintainer PRs
  .github/workflows/lgtm.yml
Due: prettier -c --config .prettierrc
