Repository nanoexpress/ultimate-oss: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -c --config .prettierrc, eslint

chore(vscode): fix launch task npm script
  package.json
Due: prettier -c --config .prettierrc

docs(note): add
  README.md
Due: prettier -c --config .prettierrc

fix(docs): typo fixes
  README.md
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  562ec8cd5e8161543d61e78878dd75f12cf3bdff
Due: none

docs(readme): update sponsors section
  README.md
Due: prettier -c --config .prettierrc

feat: update all dependencies and security severity bugs fixed
  package.json
  rollup.config.js
  src/polyfills/http-request.ts
  src/router.ts
  yarn.lock
Due: prettier -c --config .prettierrc, eslint

chore(release): 1.5.0 [skip ci]
  cjs/nanoexpress.cjs
  cjs/nanoexpress.cjs.map
  esm/nanoexpress.js
  esm/nanoexpress.js.map
  package.json
  typings/helpers/mime.d.ts
  typings/helpers/mime.d.ts.map
  typings/hooks/manager.d.ts
  typings/hooks/manager.d.ts.map
  typings/polyfills/http-request.d.ts
  typings/polyfills/http-request.d.ts.map
  typings/polyfills/http-response.d.ts
  typings/polyfills/http-response.d.ts.map
  typings/router.d.ts.map
  typings/utils/legacy.d.ts
  typings/utils/legacy.d.ts.map
Due: prettier -c --config .prettierrc, eslint

Notes added by 'git notes add'
  808ad3018f717f05c4d047216284c6ef5115a4f0
Due: none

docs(readme): update
  README.md
Due: prettier -c --config .prettierrc

fix: security fixes and dependencies upgrade
  package.json
  yarn.lock
Due: prettier -c --config .prettierrc

chore(release): 1.5.1 [skip ci]
  package.json
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  88304c6da96223e2d3d71660833b783831bb05a0
Due: none

chore: github actions ci build update
  .github/workflows/automerge.yml
  .github/workflows/lint_test_release.yml
Due: prettier -c --config .prettierrc

fix(lint): code lint fixes
  .eslintrc
  .node-version
  package.json
  src/polyfills/http-request.ts
  src/polyfills/http-response.ts
  yarn.lock
Due: prettier -c --config .prettierrc

chore(release): 1.5.2 [skip ci]
  cjs/nanoexpress.cjs.map
  esm/nanoexpress.js.map
  package.json
  typings/polyfills/http-request.d.ts.map
  typings/polyfills/http-response.d.ts.map
Due: prettier -c --config .prettierrc

Notes added by 'git notes add'
  a82d7d6f5c66e655eead24e3f6fbd9557d99b8e3
Due: none

feat: upgrade uWebSockets.js
  .eslintrc
  package.json
  yarn.lock
Due: prettier -c --config .prettierrc

fix(websocket): typescript typing improved and fixed
  package.json
  src/app.ts
  src/exposes/websocket.ts
  src/nanoexpress.ts
  src/router.ts
  types/nanoexpress.d.ts
  yarn.lock
Due: prettier -c --config .prettierrc

chore: upgrade lockfile and upgrade to latest linter configs
  package.json
  yarn.lock
Due: prettier -c --config .prettierrc

fix(nanoexpress): remove unnecessary log file
  src/nanoexpress.ts
  yarn.lock
Due: none

chore(vscode): update local terminal path
  .vscode/settings.json
Due: prettier -c --config .prettierrc

chore(ci): GH Actions and Yarn compatiblity fix
  .github/workflows/lint_test_release.yml
  package-lock.json
  yarn.lock
Due: prettier -c --config .prettierrc

chore(ci): fix exec for `npm`
  .github/workflows/lint_test_release.yml
Due: prettier -c --config .prettierrc

chore(release): 2.0.0 [skip ci]
  cjs/nanoexpress.cjs
  cjs/nanoexpress.cjs.map
  esm/nanoexpress.js
  esm/nanoexpress.js.map
  package.json
  typings/app.d.ts
  typings/app.d.ts.map
  typings/exposes/websocket.d.ts
  typings/exposes/websocket.d.ts.map
  typings/router.d.ts
  typings/router.d.ts.map
Due: prettier -c --config .prettierrc, eslint

Notes added by 'git notes add'
  0196266d0a28450eb6ddb199afa78f5393615494
Due: none

docs(CoC): update
  CODE_OF_CONDUCT.md
Due: prettier -c --config .prettierrc

fix(`query`): fix page crash on empty queries
  package-lock.json
  package.json
Due: prettier -c --config .prettierrc

fix(`core`): breaking changed locally patch
  src/app.ts
Due: none

chore(release): 2.0.1 [skip ci]
  cjs/nanoexpress.cjs
  cjs/nanoexpress.cjs.map
  esm/nanoexpress.js
  esm/nanoexpress.js.map
  package.json
Due: prettier -c --config .prettierrc, eslint

Notes added by 'git notes add'
  d05aa4c3d1cbeac963d57caf97adee1430c3b94b
Due: none

build: replace rollup with bun build; TypeScript 7; deps latest
  bun.lock
  package.json
  rollup.config.js
  tsconfig.json
  typings/app.d.ts
  typings/app.d.ts.map
  typings/constants.d.ts
  typings/constants.d.ts.map
  typings/exposes/websocket.d.ts
  typings/exposes/websocket.d.ts.map
  typings/helpers/http-codes.d.ts.map
  typings/helpers/http-methods.d.ts
  typings/helpers/http-methods.d.ts.map
  typings/helpers/index.d.ts
  typings/helpers/index.d.ts.map
  typings/helpers/iterate-blocks.d.ts
  typings/helpers/iterate-blocks.d.ts.map
  typings/helpers/mime.d.ts.map
  typings/helpers/noop.d.ts
  typings/helpers/noop.d.ts.map
  typings/helpers/slashify.d.ts
  typings/helpers/slashify.d.ts.map
  typings/hooks/index.d.ts
  typings/hooks/index.d.ts.map
  typings/hooks/manager.d.ts.map
  typings/nanoexpress.d.ts
  typings/nanoexpress.d.ts.map
  typings/polyfills/http-request.d.ts
  typings/polyfills/http-request.d.ts.map
  typings/polyfills/http-response.d.ts
  typings/polyfills/http-response.d.ts.map
  typings/route-engine.d.ts
  typings/route-engine.d.ts.map
  typings/router.d.ts
  typings/router.d.ts.map
  typings/utils/legacy.d.ts
  typings/utils/legacy.d.ts.map
Due: prettier -c --config .prettierrc, eslint

build: replace ESLint+Prettier+husky+lint-staged+smartlint with Biome+rumdl+lefthook
  .commitlintrc
  biome.json
  bun.lock
  eslint.config.js
  lefthook.yml
  package.json
  rumdl.toml
Due: prettier -c --config .prettierrc, eslint

build: adopt bun as the package manager
  bun.lock
  bun.lockb
  package.json
Due: prettier -c --config .prettierrc

Path conditions:
  prettier -c --config .prettierrc: (any of: *.{json,scss,css,md,yml}) or (any of: *.js)
  eslint: any of: *.js
